.search-bar {
    max-width: 800px;
    padding: 1rem;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
}

.search-input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    padding-left: 3rem;
}

.fisearch {
    left: 4%;
    top: 40%;
}

.fifilter {
    right: 4%;
    top: 40%; 
}